*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #A2DADB;
}

.content-cabecera{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 100%;
    height: 70px;
    text-align: center;
}

main{position: fixed;
    height: 100%;
    background-image: url(../complementos/imagenes/pared.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content-habitacion{
    width: 100%;
    height: 100%;
  

}
.content-alacena{
    margin-top:100px ;
    width: 100%;
    }

.content-alacena img{
    width: 100%;
  
}

.content-heladera{
    position: absolute;
    width: 39%;
    bottom:60px;
    right:0
}

.content-heladera img{
    width: 100%
}

.content-puerta{
    position: absolute;
    width: 40%;
    bottom:65px;
    left:0
}

.content-puerta img{
    width: 100%
}


